@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Sofia Sans', sans-serif;
    font-style: normal;
    user-select: none;
}

:root {
    --c-background: #e8eff0;

    --c-bleu: #0f51df;
    --c-bleu-clair: #9EB9EA;

    --c-rouge: #e92020;
    --c-rouge-opa: #e9202030;

    --c-vert: #0e9e09;
    --c-vert-opa: #0e9e0930;

    --c-noir: #1a1a1a;

    --c-blanc: #FFFFFF;
    
    --c-gris: #c9c9c9;

    --box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.3);
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--c-background);
    color: var(--c-noir);
    overflow: hidden;
}

.cercle-1 {
    position: absolute;
    top: -300px;
    left: -300px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: var(--c-bleu-clair);
    z-index: -1;
}

.cercle-2 {
    position: absolute;
    bottom: -300px;
    right: -300px;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: var(--c-bleu-clair);
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 1;
    text-align: center;
}

main h1 {
    font-weight: 900;
    font-size: 30px;
    transition: all 500ms ease;
}

form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}

form .text {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--c-noir);
    transition: all 200ms ease;
    min-width: 205px;
    text-align: center;
}

form div.erreur {
    background-color: var(--c-rouge-opa);
    border: 1px solid var(--c-rouge);
}

form div.success {
    background-color: var(--c-vert-opa);
    border: 1px solid var(--c-vert);
}

form input {
    height: 50px;
    width: 50%;
    border: 1px solid var(--c-gris);
    padding: 20px;
    transition: all 200ms ease;
    min-width: 205px;
    font-size: 18px;
}

form input.erreur {
    outline: 4px solid var(--c-rouge);
    transition: all 200ms ease;
    z-index: 2;
}

form input[type='text'] {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

form input[type='email'] {
    border-bottom: none;
}

form input[type='password']:not(input[name='new_password']) {
    border-radius: 0 0 10px 10px;
}

form input[name="new_password"] {
    border-bottom: none;
}

form input[type='text']:focus,
form input[type='password']:focus,
form input[type='email']:focus {
    outline: 4px solid var(--c-bleu);
    transition: all 200ms ease;
    z-index: 2;
}

form input.erreur:focus {
    outline: 4px solid var(--c-rouge);
    z-index: 2;
}

form button {
    height: 50px;
    width: 50%;
    border-radius: 5px;
    background-color: var(--c-bleu);
    box-shadow: var(--box-shadow);
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    color: var(--c-blanc);
    transition: all 200ms ease;
    min-width: 205px;
}

form button:hover {
    box-shadow: none;
    transition: all 200ms ease;
}

main p {
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

main p a {
    font-weight: 600;
}

@media screen and (max-width: 650px) {
    form input,
    form button,
    form .text {
        width: 100%;
    }
}